mixin promo()
  -
    const promoItems = [
      {
        id: "users",
        title: "300+ довольных пользователей",
        description: "Дополнительно в этом методе есть кнопка «Объединить по строкам». С помощью неё можно объединить ячейки выбранного диапазона построчно.",
        isActive: true,
        imagePath: "content/promo/slide-1",
        imageName: "promo-image-users",
        imapeType: "png",
        imageAlt: "Изображение человека, сидящего за столом за компьютером и ноутбуком",
        buttonTitle: "Довольные пользователи",
        buttonText: "Изучение тем на вебинарах с преподавателями, наставником. После прохождения курса вы будетe",
      },
      {
        id: "courses",
        title: "1000+ образовательных курсов",
        description: "Дополнительно в этом методе есть кнопка «Объединить по строкам». С помощью неё можно объединить ячейки выбранного диапазона построчно.",
        isActive: false,
        imagePath: "content/promo/slide-2",
        imageName: "promo-image-courses",
        imapeType: "png",
        imageAlt: "Изображение человека c длинными ногами за ноутбуком",
        buttonTitle: "Образовательные курсы",
        buttonText: "Изучение тем на вебинарах с преподавателями, наставником. После прохождения курса вы будете",
      },
      {
        id: "mentors",
        title: "300+ довольных пользователей",
        description: "Дополнительно в этом методе есть кнопка «Объединить по строкам». С помощью неё можно объединить ячейки выбранного диапазона построчно.",
        isActive: false,
        imagePath: "content/promo/slide-3",
        imageName: "promo-image-mentors",
        imapeType: "png",
        imageAlt: "Изображение человека в полосатом галстуке с ноутбуком в руке",
        buttonTitle: "Менторы из больших компаний",
        buttonText: "Изучение тем на вебинарах с преподавателями, наставником. После прохождения курса вы будете",
      }
    ]

  section.promo
    .container
      .promo__promo-wrapper
        h2 Агрегируем курсы по самым актуальным темам для новичков и&nbsp;практикующих специалистов.
        .promo__content(data-class='promo-content')
          .promo__content-wrapper(data-class='promo-content-wrapper')
            for item in promoItems
              .promo__slide(data-class="promo-slide", data-id=item.id, data-slide-active= item.isActive ? "slide-is-active" : "slide-not-active")
                .promo__slide-wrapper
                  .promo__image-wrapper
                    +picture(item.imagePath, item.imageName, item.imageType, 425, 425, item.imageAlt)
                  .promo__description-wrapper
                    h3= item.title
                    p= item.description
          .promo__content-buttons-wrapper
              for item in promoItems
                .promo__content-button(data-class="promo-content-button", data-id=item.id, data-active= item.isActive ? "is-active" : "not-active")
                  .promo__icon-wrapper
                    +icon(item.id, 25, 25)
                  .promo__text-wrapper
                    h4= item.buttonTitle
                    p= item.buttonText
        .promo__swiper-navigation.arrows
          button.promo__button--prev.swiper-button-prev.arrows__button.arrows__button--prev(type='button', aria-label='Кнопка переключения предыдущего слайда')
          button.promo__button--next.swiper-button-next.arrows__button.arrows__button--next(type='button', aria-label='Кнопка переключения следующего слайда')




