mixin direction-card(title, id, items, color)
  .direction-card(data-class="direction-card", data-color=color)
    .direction-card__icon-wrapper
      img(src=`img/svg/${id}.svg` width="64" height="55" alt= `Иконка направления "${id}"`)
    h3(data-title=id)= title
    ul.direction-card__list
      each item in items
        li.direction-card__item
          p= item
          +icon("star-divider", 16, 16)
