mixin work-card(card)
  article.work-card
      .work-card__title-wrapper
        h2= card.title
        p= card.description
        .work-card__rate
          +rate(5)
      .work-card__stats-wrapper
        p.work-card__salary= `${card.salary} рублей`
        p.work-card__offers= `${card.offersCount} компания`
      .work-card__popularity-wrapper
        each item in card.platforms
          .work-card__popularity-item
            .work-card__logo-wrapper
              img(src= `img/content/platforms-logo/${item.name}.svg`, width=24, height=24, alt=`Логотип ${item.name}`)
            .work-card__platform-rate(data-class="platform-rate", data-platform=item.name, data-rate=item.rate, data-color=item.color, data-accent=item.accentColor)
              span.visually-hidden= `Рейтинг курса по профессии на обучающей платформе ${item.name}`


