mixin header(headerMods, currentUrl)
  -
    const headerLinks = [
      {
        href: "index.html",
        text: "Главная",
        id: "main"
      },
      {
        href: "#",
        text: "Курсы",
        id: "courses"
      },
      {
        href: "#",
        text: "Блог",
        id: "blog"
      },
    ]

  -
    const headerNavLinks = [
      {
        title: "Дизайн",
        href: "#",
        sublevel: true,
        items: [
          {title: "3D анимация", href: "#"},
          {title: "3D MAX", href: "#"},
          {title: "3D моделирование", href: "#"},
          {title: "Adobe After Effects", href: "#"},
          {title: "Adobe Illustrator", href: "#"},
          {title: "Adobe Photoshop", href: "#"},
          {title: "Отрисовка иллюстраций", href: "#"}
          ]
      },
      {
        title: "Программирование",
        href: "#",
        sublevel: true,
        items: [
          {title: "Web-разработка", href: "#"},
          {title: "DevOps", href: "#"},
          {title: "JavaScript-разработка", href: "#"},
          {title: "ReactJS", href: "#"},
          {title: "Мобильная разработка", href: "#"},
          {title: "GIT", href: "#"},
          {title: "Системное администрирование", href: "#"},
          {title: "Верстка на HTML/CSS", href: "#"},
          {title: "Unity", href: "#"},
          ]
      },
      {
        title: "Аналитика",
        href: "#",
        sublevel: true,
        items: [
          {title: "Data Science", href: "#"},
          {title: "Продуктовая аналитика", href: "#"},
          {title: "Системная аналитика", href: "#"},
          {title: "Бизнес-аналитика", href: "#"},
          {title: "Аналитика", href: "#"},
          {title: "Работа с Excel и Google таблицами", href: "#"},
          {title: "Машинное обучение", href: "#"},
          {title: "Нейронные сети", href: "#"}
          ]
      },
      {
        title: "Менеджмент",
        href: "#",
        sublevel: true,
        items: [
          {title: "Product-менеджмент", href: "#"},
          {title: "DevOps", href: "#"},
          {title: "Личностный рост", href: "#"},
          {title: "Управление разработкой и IT", href: "#"},
          {title: "AGile", href: "#"},
          {title: "Бренд-менеджмент", href: "#"},
          {title: "Запуск стартапов", href: "#"},
          {title: "Финансовая аналитика", href: "#"},
          {title: "Бухгалтерия", href: "#"},
          {title: "Управление в SMM", href: "#"},
          {title: "IT-рекрутмент", href: "#"}
          ]
      },
      {
        title: "Маркетинг",
        href: "#",
        sublevel: true,
        items: [
          {title: "Web-аналитика", href: "#"},
          {title: "SMM-продвижение", href: "#"},
          {title: "Интернет-маркетинг", href: "#"},
          {title: "PR-менеджмент", href: "#"},
          {title: "SEO-продвижение", href: "#"},
          {title: "Копирайтинг", href: "#"},
          {title: "Контент-маркетинг", href: "#"},
          {title: "SERM и репутация", href: "#"},
          {title: "Маркетинговая аналитика", href: "#"}
          ]
      },
      {
        title: "Финансы",
        href: "#",
        sublevel: true,
        items: [
          {title: "Web-аналитика", href: "#"},
          {title: "SMM-продвижение", href: "#"},
          {title: "Интернет-маркетинг", href: "#"},
          {title: "PR-менеджмент", href: "#"},
          {title: "SEO-продвижение", href: "#"},
          {title: "Копирайтинг", href: "#"},
          {title: "Контент-маркетинг", href: "#"},
          {title: "SERM и репутация", href: "#"},
          {title: "Маркетинговая аналитика", href: "#"}
          ]
      }
    ]

  header.header(class=headerMods)(data-name="header")
    .container.header__main-wrapper
      .header__header-wrapper
        if(currentUrl === "index.html")
          //- lighthouse снимает 10 баллов SEO за <a> без href
          span.header__logo
            span.header__logo-desktop
              img(src="img/content/logo/logo.svg" width="118" height="38" alt="Логотип FindEdu")
            span.header__logo-mobile
              img(src="img/content/logo/logo-mobile.svg" width="23" height="27" alt="Логотип FindEdu")
        else
          a.header__logo(href="index.html", aria-label="Переход на главную")
            span.header__logo-desktop
              img(src="img/content/logo/logo.svg" width="118" height="38" alt="Логотип FindEdu")
            span.header__logo-mobile
              img(src="img/content/logo/logo-mobile.svg" width="23" height="27" alt="Логотип FindEdu")
        nav.main-nav(aria-label="Основное меню сайта")
          button.main-nav__toggle.btn-reset(type="button", aria-label="Переключатель отображения меню", aria-pressed="false", data-name="menu-button")
          .main-nav__wrapper
            ul.main-nav__list
              each link in headerLinks
                - const activeState = currentUrl === link.href
                li.main-nav__item
                  if(activeState)
                    span.main-nav__link.is-active= link.text
                  else
                    a.main-nav__link(href=link.href)= link.text
      .header__menu(data-name="menu")
        ul.header__menu-list(data-name="menu-list")
          each item in headerNavLinks
            li.header__menu-item(data-name="menu-item")
              a.header__menu-link(href=item.href)= item.title
              if item.sublevel
                ul.header__menu-content-list(data-name="menu-content-list")
                  each subitem in item.items
                    li.header__menu-content-item
                      a.header__menu-content-link(href=subitem.href)= subitem.title

